:root{
    --brand-color: #2196F3;
    --black: #000000;
    --black_1: #212121;
    --gray: #757575;
    --white: #FFFFFF;
    --black_gray:#2F303A;
    --gray_1: #F5F4FA;
    
}



/*геометрия*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}




body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    border-color: #2196F3;
    
}

.container{

    /*геометррия*/
    width: 1200px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header_container{
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 25px;


}

.header{
    padding-top: 24px;
    display: flex;
    border-bottom: 1px solid var(--gray_1);
    

}

.logo {
    font-family: 'Raleway', sans-serif;       
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;  
    letter-spacing: 0.03em;
    text-decoration: none;

    /*геометрия*/
    display: inline;
    margin-left:15px;
    width: 145px;
    height: 31px;
    padding-bottom: 25px;
    margin-right: 93px;
   

}

.web{
    color: var(--brand-color);
}

.studio{
    color: var(--black);
}

.header_nav_list{
    list-style: none;

    /*геометрия*/
    display:flex;
    width: 281px;
    gap: 50px;
}



.header_nav_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3333;
    letter-spacing: 0.02em;
    color: var(--black_1);
    text-decoration: none;
 

    /*геометрия*/
   
   margin-top: 32px;
   
}

 .header_nav_link:hover,
 .header_nav_link:focus {
    color: var(--brand-color);
}

.current{
    color: var(--brand-color);
}


.header_list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.header_link_mail {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--gray);
    text-decoration: none;

    /*геометрия*/
   
    
    
}
.header_link_mail:hover,
.header_link_mail:focus {
    color:  var(--brand-color);
}


.header_link_tel {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--gray);

    /*геометрия*/
  margin-right: 15px;
  margin-left: 50px;
}

.header_link_tel:hover,
.header_link_tel:focus {
    color:  var(--brand-color);
}



.first-page{
text-align: center;
display: flex;
}


.first-page-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white);
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    /*геометрия*/
 display: inline;
 margin-bottom: 200px;
 align-items: center;
 min-width: 216px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 32px;
 padding-left: 32px;
 margin-top: 30px;



}


ul{
    list-style: none;
}

.first_page_title{
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    /*геометрия*/
    padding-top: 200px;
    margin-bottom: 30px;
    padding-right: 298px;
    padding-left: 298px;
    min-width: 696px;
}

.first-page{
    background: #2F303A;
}


             /*вторая страница*/



.current{
  color: var(--brand-color);
}

.second-page{

    padding-top: 94px;
}
.second_page_description{

    font-size: 14px;
    line-height: 1.2114;
    letter-spacing: 0.03em;
    color: var(--gray);
    min-width: 270px;

 }

 .about-title{
    display: flex;
 
 }


 .hide {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }


 .second_list{
    margin-right: 30px;

 }
 
.second_list:last-child{
    margin-right: 0;
 }

 .second_page_list {
     font-size: 14px;
     line-height: 1.1428;
     letter-spacing: 0.03em;
     text-transform: uppercase;


     /*геометрия*/
     margin-bottom: 30px;

 }

.our-work{
    padding-bottom: 94px;
    padding-top: 94px;
}

 .work-title{

    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;


        /*геометрия*/
        padding-bottom: 50px;
        display: block;
        align-items: center;
        text-align: center;
 }

 .work-foto-list{
    display: flex;
    gap: 30px;
 }

 .work-foto{
    width: calc((100%-60px)/3);
 }

 .our_team{
    padding-bottom: 94px;
    padding-top: 94px;
 }
 
 .our_team_title{
    
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black_1);


 }

 .our_team_foto{
    width: calc((100%-90px)/3);
 }

 .our_team_list {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 94px;
  

 }
 
 .our_team_people{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black_1);

    /*геометрия*/
    margin-top: 50px;
    margin-bottom: 10px;
 }

 .our_team_job{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray);
 }

             /*footer*/

 .footer{
   background-color: var(--black_gray);

   /*геометрия*/
}


.footer_container{
    display: flex;
}
.footer_logo{
    display: inline-block;
    margin-top: 60px;
    margin-left: 15px;

}

.footer_studio{
    color: var(--white);
}

.footer_ul{
    list-style: none;
    margin-top: 30px;
    padding-bottom: 60px;
}

.footer_list{
    padding-bottom: 9px;
    margin-left: 15px;
}

.footer_address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    font-style: normal;
}

.footer_address:hover,
.footer_address:focus{
    color: var(--brand-color);
}

.footer_tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.footer_tel:hover,
.footer_tel:focus {
    color:var(--brand-color);
}

.footer_mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.footer_mail:hover,
.footer_mail:focus{
    color: var(--brand-color);
}
 
 
    /*portfolio*/

.buttom_list{

    /*геометрия*/

    display: flex;
    justify-content: center;
    padding-bottom: 34px;
    padding-top: 94px;
    

}

.menu_button{
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--gray_1);

    /*геометрия*/
    margin-left: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}


 .menu_button:focus,
 .menu_button:hover{
    color: var(--white);
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }

.section_button,
.menu_button{
    cursor: pointer;
}

.section_button{
    border: none;
    background-color: var(--white);
}



.pic_list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
}

.pic_item{
    width: calc ((100%-60px) / 3);
}

 

.border_pic{
    border: 1px solid var(--gray_1);
    margin-top: 0;
}

.section_description{
 
    font-size: 18px;
    line-height: 1.9444;
    letter-spacing: 0.06em;
    color: var(--black_1);
}

a {
    text-decoration: none;
}


.section_text{ 
 
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--gray);
}

 
   